<div ng-controller="RunTaskConfigurationController as ctrl">

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="task-name">
          <translate>Task Name</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="task-name" name="task-name" type="text" class="form-control"
              ng-model="model.newInstanceSpec.meta.task_name" ng-required="true">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="cpu">
          <translate>VCPUs</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="cpu" name="cpu" type="number" class="form-control"
              ng-model="model.newInstanceSpec.cpu" ng-required="true"
              validate-number-min="1">
        <span ng-if="model.newInstanceSpec.cpu < 1" style="color: brown;"><span ng-bind="model.newInstanceSpec.cpu"></span> is less than the allowed minimum of 1</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="ram">
          <translate>RAM (MiB)</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="ram" name="ram" type="number" class="form-control"
              ng-model="model.newInstanceSpec.ram" ng-required="true"
              validate-number-min="512">
        <span ng-if="model.newInstanceSpec.ram < 512" style="color: brown;"><span ng-bind="model.newInstanceSpec.ram"></span> is less than the allowed minimum of 512</span>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="disk">
          <translate>Disk (GiB)</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="disk" name="disk" type="number" class="form-control"
              ng-model="model.newInstanceSpec.disk" ng-required="true"
              validate-number-min="2">
        <span ng-if="model.newInstanceSpec.disk < 2" style="color: brown;"><span ng-bind="model.newInstanceSpec.disk"></span> is less than the allowed minimum of 2</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="estimated-time-of-execution">
          <translate>Estimated time of execution (hour)</translate>
        </label>
        <input id="estimated-time-of-execution" name="estimated-time-of-execution" type="number" class="form-control"
              ng-model="model.newInstanceSpec.estimated_time_of_execution">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="execution-frequency">
          <translate>Execution frequency (per week)</translate>
        </label>
        <input id="execution-frequency" name="execution-frequency" type="number" class="form-control"
              ng-model="model.newInstanceSpec.execution_frequency">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="main-job">
          <translate>Main job</translate>
        </label>
        <input id="main-job" name="main-job" type="text" class="form-control"
              ng-model="model.newInstanceSpec.main_job">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="require-hardware">
          <translate>Require hardware</translate>
        </label>
        <select class="form-control" id="require-hardware"
            ng-options="item for item in ['Yes', 'No']"
            ng-model="model.newInstanceSpec.require_hardware">
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="priority-coef">
          <translate>Priority</translate>
        </label>
        <select class="form-control" id="priority-coef"
            ng-options="item for item in [1, 2, 3, 4, 5]"
            ng-model="model.newInstanceSpec.priority_coef">
        </select>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" translate for="virtualization">Virtualization</label>
        <select ng-if="model.virtualization.length !== 0"
                class="form-control"
                id="virtualization"
                ng-options="item for item in ['Auto', 'Virtual Machine', 'Docker']"
                ng-model="model.newInstanceSpec.virtualization">
        </select>
      </div>
    </div>
  </div>

  <p class="step-description" translate>
    You can customize your instance after it has launched using the options available here.
    "Customization Script" is analogous to "User Data" in other systems.
  </p>

  <load-edit title="{$ ctrl.title $}"
             model="model.newInstanceSpec.job"
             max-bytes="{$ ctrl.MAX_SCRIPT_SIZE $}"
             key="job"
             rows=8>
  </load-edit>

</div>
