{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block body_id %}splash{% endblock %}

{% block content %}
  {% include 'auth/_login.html' %}
{% endblock %}

{% block footer %}
  {% include '_login_footer.html' %}
  <div align="center">
    <p>
      <img class="openstack-logo" width="200px" src="/static/dashboard/img/SJTU-logo.svg">
      &nbsp;&nbsp;&nbsp;由<a href="https://www.sjtu.edu.cn/" target="_blank">上海交通大学</a>开发
    </p>
  </div>
{% endblock %}
