{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block main %}{{ table.render }}
<hz-resource-panel resource-type-name="OS::Zun::Container">
  <hz-resource-table resource-type-name="OS::Zun::Container"
                     track-by="trackBy"></hz-resource-table>
</hz-resource-panel>
<script>
$(function() {
  var taskHeader = document.querySelector(".page-header");

  var vmHeader = document.createElement("h3");
  vmHeader.innerHTML = "Virtual Machines";
  taskHeader.parentNode.insertBefore(vmHeader, taskHeader.nextSibling);

  var containerHeader = document.querySelector("hz-resource-panel").querySelector("h1");
  containerHeader.outerHTML = "<h3 class=\"ng-binding\">Containers</h3>";
});
</script>
{% endblock %}